header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('img/coffeeheader.jpg');
  text-align: center;
  color: white;

/*Parallax scrolling controlls*/
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.headerTxt{
	padding-top: 250px;
	padding-bottom: 250px;
	padding-left: 250px;
	padding-right: 250px;
	color: black;
	font-family: 'Playfair Display', serif;
	text-align: center;
  visibility: hidden;
}

/*About*/

#aboutSection{
background-color: white;
width: 100%;
height: 100%;
min-height: auto;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
background-position: center;
position: relative;
    
position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('img/paperbw4.jpg');

}

#aboutTxt{
  color: #744821;
}

.headText{
font-family: 'Playfair Display', serif;
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px 0px 300px 0px;
  float: left;
  clear: none;
-webkit-font-smoothing: antialiased;
}

.bodyText{
  font-family: 'Fauna One', serif;
  padding-top: 40px;
  padding-bottom: 20px;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;  
  font-size: 14px;
      -webkit-font-smoothing: antialiased;
} 

p {
    font-family: 'Fauna One', serif;
    -webkit-font-smoothing: antialiased;
}

/*Photo seperator*/

#imgseperator {
position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('img/coffeeshop2.jpg');
  text-align: center;
  color: white;
/*parralax scrolling*/
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.seperatorTxt{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	color: black;
	font-family: 'Playfair Display', serif;
	text-align: center;
  visibility: hidden;
}


/*Employees*/

#employeeSection{
	background-color: #e3ccac;
	width: 100%;
  height: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  position: relative;
    padding-bottom: 20px;
}

#employeesTxt{
  color: #744821;
  font-family: 'Playfair Display', serif;
  padding-top: 10px;
  padding-bottom: 0px;
  font-size: 45px;
  padding-left: 120px;
  -webkit-font-smoothing: antialiased;

}

/*Employee Images*/

#employeeImages{
  background-color: #e3ccac;
  display: inline-block;
  height: 100%;
  margin-right: 0;
    display: inline-block;
    justify-content: center;
     display: flex;
  align-items: center;
    padding-bottom: 10px;

  }

.hovereffect {
width: 100%;
height: 100%;
max-height: 600px;
max-width: 600px;
overflow: hidden;
position: relative;
text-align: center;
cursor: default;
display: inline-block;
justify-content: center;
display: flex;
align-items: center;
}

.hovereffect .overlay {
width: 77.2%;
position: absolute;
overflow: hidden;
top: auto;
bottom: 0;
padding: 1em;
height: 4.75em;
background: #744821;
color: white;
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
-webkit-transform: translate3d(0,100%,0);
transform: translate3d(0,100%,0);


  
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    width: 400px;
    height: 350px;    
}

#image1{
width: 350px;
height: 400px;
background-size:cover; 
background-position:center center; 
background-repeat:no-repeat; 
background-image:url('img/coffeeperson1.jpg');
}

#image2{
width: 350px;
height: 400px;
background-size:cover; 
background-position:center center; 
background-repeat:no-repeat; 
background-image:url('img/coffeeperson2.jpg');
}

#image3{
width: 350px;
height: 400px;
background-size:cover; 
background-position:center center; 
background-repeat:no-repeat; 
background-image:url('img/coffeeperson3.jpg');
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0,-10%,0);
    transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
/*    text-transform: uppercase;*/
    font-family: 'Playfair Display', serif;
  font-size: 15px;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    float: left;
    margin: 0px;
    display: inline-block;
}

.hovereffect a.info {
    font-family: 'Fauna One', serif;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
    color: #252d31;
    
}

.hovereffect h2,
.hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

.hovereffect p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/*Footer*/

#footer{
    background-color: white;
    width: 100%;
    height: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    position: relative;
    color: #744821;
    padding-top: 10px;
    padding-bottom: 40px;
    border-top: 2px solid #744821;
    
 position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('img/paperbw4.jpg');

}

.footerHead{
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: antialiased;
}

.footerBody{
    font-family: 'Fauna One', serif;
    padding-bottom: 20px; 
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
    color: #744821;
}

/* unvisited link */
a:link {
    color: #744821;
}

/* visited link */
a:visited {
    color: #744821;
}

/* mouse over link */
a:hover {
    color: #e3ccac;
}

/* selected link */
a:active {
    color: #e3ccac;
}
