.header{
    position: relative;
    background-color: $color-black;
    .header__inner-wrapper{
        // width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10vw;
        max-width: 1400px;
        margin: 0 auto;
        @include for-size(mobile){
            padding: 100px 20px;
        }
        .header__inner__headline-wrapper{
            text-align: center;
            padding-bottom: 20px;
            position: relative;
            .header__headline{
                text-align: center;
                font-family: $font-espiritu;
                text-transform: uppercase;
                color: $color-orange;
                font-weight: bold;
                z-index: 2;
                position: relative;

                &:nth-child(1){
                    font-size: 8vw;
                    margin: 0;
                    line-height: 1.1;
                    
                    @include for-size(tablet){
                        font-size: 7vw;
                    }
                }
                
                &:nth-child(2){
                    margin: 0;
                    line-height: 1.1;
                    font-size: 15vw;
                    @include for-size(tablet){
                        font-size: 12vw;
                    }
                }

            }

            .header__headline__accent{
                font-family: $font-espiritu-dingbats;
                position: absolute;
                color: $color-grey;
                top: 35%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-size: 30vw;
                @include for-size(tablet){
                    top: 39%;
                    font-size: 25vw;

                }
            }
        }
        .header__inner__subheadline-wrapper{
            text-align: center;
            padding: 5vw 0px 20px 0px;
            // position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: -4vw;
            z-index: 4;
            @include for-size(mobile){
                flex-wrap: wrap;

            }
            .header__subheadline{
                text-align: center;
                font-family: $font-fino;
                font-size: 22px;
                text-transform: uppercase;
                color: $color-off-white;
                font-weight: bold;
                z-index: 2;
                position: relative;
                padding: 40px;
                letter-spacing: 2px;

                @include for-size(mobile){
                    width: 100%;
                    padding: 20px 10px;
                }

                @include for-size(tablet){
                    font-size: 2vw;
                    padding: 40px;
                }

                @include for-size(desktop-lg){
                    font-size: 30px;
                    padding: 40px;
                }
            }

        }

    }
    .header__bottom-border{
        width: 100%;
        height: 14.5vw;
        position: relative;
        bottom: 0;
        left: 0;
        overflow: hidden;
        margin-top: -60px;
        @include for-size(desktop-md){
            height: 14.5vw;
        }
        &::after{
            content: "IIIIII";
            position: relative;
            z-index: 3;
            background: rgb(2,0,36);
            background: linear-gradient(180deg, $color-black 52%, $color-pink 50%);
            font-family: $font-espiritu-dingbats;
            color: $color-black;
            width: 100%;
            letter-spacing: -6px;
            font-size: 9vw;
            bottom: 0vw;
        }
    }
}
