html, body{
	height: 100%;
	width: 100%;
}

@font-face {
    font-family: 'littlelordfontleroy-webfont';
    src: url('littlelordfontleroy-webfont.eot');
    src: url('littlelordfontleroy-webfont.eot?#iefix') format('embedded-opentype'),
         url('littlelordfontleroy-webfont.woff2') format('woff2'),
         url('littlelordfontleroy-webfont.woff') format('woff'),
         url('littlelordfontleroy-webfont.ttf') format('truetype'),
         url('littlelordfontleroy-webfont.svg#littlelordfontleroyregular') format('svg');
    font-weight: 100;
    font-style: normal;

}

/*NAVBAR*/

.navbar, navbar-fixed-top{
    position: fixed;
    text-align: center;
    margin: 0px;
    padding-left: 55px;
    height: 90px;
    padding-top: 7px;
    background-color: white;
/*    transparent scroll*/
     -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(68, 68, 68); //IE
    background: rgba(0, 0, 0, 0.78); //NON-IE
}

nav{
    position: fixed;
}
#navbar a{
    width:25%;
    margin: 0 30px 0 0;
    background:#ffffff;
    text-decoration:none; 
    /* extra styling for shits and giggles */
    color: black;
    letter-spacing:0.35em;
    text-transform:uppercase;
    padding: 0px;
}
a:hover,a:active,a:focus,a:visited { 
    text-decoration: underline;
    outline:none;
}
.navTxt{
    font-family: 'Raleway';
    text-align: center;
}

#logo{
    width: 80px;
    height: auto;
    max-height: 100px;
    max-width: 100px;
}

#socialNav{
    float: right;
}
/*HEADER*/

header {
  position: relative;
  width: 100%;
  height: 50%;
  min-height: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('img/DSC_0318%20copy.jpg');
  text-align: center;
  color: white;
    
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/*HEADER CONTENT*/
header .header-content {
  position: relative;
  text-align: center;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  text-transform: uppercase;
  font-family: 'littlelordfontleroy-webfont';
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0px;
    color: black;
  -webkit-font-smoothing: antialiased;
    
}


header .header-content .header-content-inner hr {
  margin: 30px auto;
}

header .header-content .header-content-inner p {
  font-weight: 300;
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
}

#homeHeading{
    font-size: 120px;
    font-family: 'littlelordfontleroy-webfont';


}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

#homeAbt{
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 7;
    text-align: center;
    color: black;

}

.headTxtTransparent{
     background:transparent;
    background-color: white;
    color: black;
	width:100%;
	height:100%;
 	opacity:0.6;
    position: relative;
    display: block;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}


/*BODY*/

#about{
    background-color: #ead3c5;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   padding-left: 350px;
    padding-right: 350px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

#aboutHeader{
   margin: 0;
    padding-top: 0px;
    overflow:auto;
    display:block;
    font-family: 'littlelordfontleroy-webfont';
    font-size: 60;
}

#aboutText{
    margin-left: 0px;
    overflow:auto;
    display:block;
    font-family: 'Raleway';
}

#headshot{
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 10px;
    clear:both;
}

#aboutButton{
    margin-left: 0px;
    overflow:auto;
    font-family: 'Raleway';

}

/*Skills*/

#skills{
    padding-top: 30px;
    background-color: floralwhite;
    padding-bottom: 30px;
     width: 100%;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 175px;
    padding-right: 175px;
}

i { 
    color: black;
    padding: 0;
    margin: 0;
    
}

.skillsText{
    color: #4b1418;
    font-family: 'littlelordfontleroy-webfont';
    font-size: 60px;
    margin: 0;
    padding: 0;
}

#skillsDescription{
    font-family: 'Raleway';
    color: black;
    opacity: 0.8;
}

/*Portfolio*/

#portfolio{
    padding-top: 30px;
}

/*Hover images*/

