/*Header CSS*/

#webname{
	
	margin: 10px -4px 10px 10px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	font-size: 50px;
	background-color: #F0F8FF;
	font-family: Pacifico;
}

.headerBox{
	border-left: 1px solid Black;
	border-top: 1px solid Black;
	border-right: 1px solid Black;
	border-bottom: 0px solid Black;
}

/*This is my Nav bar*/

#navBar{
  border-right: 0px solid black;
  border-left: 0px solid black;
  border-top: 0px solid black;
  border-bottom: 1px solid black;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  height:100%;
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
}
/*
nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}*/

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 15px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}


/*Body*/

.body {
	background-color: #f0f8ff; 
}

.body-center {
	background-color: #F0F8FF;
	
	
}	

li {
    list-style-type: none;

}

/*Img slider*/

#myCarousel{
  max-width: 600px !important;
  max-height: 388px !important;
  text-align: center;
  margin-left: 20px ;
  margin-right: 20px ;
}

div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}

.carousel-text{
   color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: Pacifico;
  font-size: 40px;
}

.sliderImages{
  max-width: 600px !important;
  max-height: 488px !important;
}

.carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.carousel-control.left {
   background-image:none !important;
   filter:none !important;
}

/*Right bar*/
.headingText{
  text-align: center;
  font-family: Pacifico;
}

.bodyText{
  text-align: center;
  font-family: Open Sans;
}

#rightSidebar{
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}

/*Left Sidebar*/

#leftSidebar{
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}

.list{
  font-family: Open Sans;
}

#footer{
  border-right: 0px solid black;
  border-left: 0px solid black;
  border-top: 1px solid black;
  border-bottom: 0px solid black;
}

.headingTextFooter{
  font-family: Pacifico;
}
