html, body {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 1px; }

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: black; } }

.header {
  position: relative; }
  .header .under-construction {
    position: absolute;
    left: 20px;
    top: 20px; }
  .header .header__inner-wrapper {
    width: 100%;
    height: 90vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .header .header__inner-wrapper .header__inner__headline-wrapper {
      text-align: center;
      font-family: "Cormorant Garamond", Georgia, "Times New Roman", Times, serif;
      padding-bottom: 20px; }
      .header .header__inner-wrapper .header__inner__headline-wrapper .header__headline.line-1 {
        font-size: 20px;
        margin-bottom: -15px; }
      .header .header__inner-wrapper .header__inner__headline-wrapper .header__headline.line-2 {
        font-size: 60px; }
    .header .header__inner-wrapper .header__inner__subhead-wrapper {
      text-align: center; }
      .header .header__inner-wrapper .header__inner__subhead-wrapper .header__subhead {
        font-weight: 300; }
        .header .header__inner-wrapper .header__inner__subhead-wrapper .header__subhead.line-4 {
          font-weight: 500;
          padding-top: 20px;
          font-family: "Cormorant Garamond", Georgia, "Times New Roman", Times, serif; }
          .header .header__inner-wrapper .header__inner__subhead-wrapper .header__subhead.line-4 a {
            text-decoration: none;
            color: #01390d;
            position: relative; }
            .header .header__inner-wrapper .header__inner__subhead-wrapper .header__subhead.line-4 a span::before {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: #c88d91;
              -ms-transform: scaleX(0);
                  transform: scaleX(0);
              transition: .35s ease transform;
              -ms-transform-origin: center left;
                  transform-origin: center left;
              z-index: 2; }
            .header .header__inner-wrapper .header__inner__subhead-wrapper .header__subhead.line-4 a span::after {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: #01390d;
              z-index: 1; }
            .header .header__inner-wrapper .header__inner__subhead-wrapper .header__subhead.line-4 a:hover {
              cursor: pointer; }
              .header .header__inner-wrapper .header__inner__subhead-wrapper .header__subhead.line-4 a:hover span::before {
                -ms-transform: scaleX(1);
                    transform: scaleX(1);
                transition: .35s ease transform;
                -ms-transform-origin: center left;
                    transform-origin: center left; }

@media (prefers-color-scheme: dark) {
  .header .under-construction {
    color: #c88d91; }
  .header .header__inner-wrapper .header__inner__headline-wrapper {
    color: white; }
  .header .header__inner-wrapper .header__inner__subhead-wrapper {
    color: white; }
    .header .header__inner-wrapper .header__inner__subhead-wrapper .header__subhead.line-4 a {
      color: #c88d91; }
      .header .header__inner-wrapper .header__inner__subhead-wrapper .header__subhead.line-4 a span::before {
        background-color: #01390d; }
      .header .header__inner-wrapper .header__inner__subhead-wrapper .header__subhead.line-4 a span::after {
        background-color: #c88d91; } }
